body{
  background-color: rgb(77, 61, 109);
  content: '\f106';
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tituloForm{
  padding-left: 700px;
}
.formCadastro{
  color: rgba(255, 255, 255, 0.5);
  display: grid;
  max-width: 50%;
  align-items: center;
  border: 5px white solid;
  padding: 10px;
  border-radius: 30px;

}
input{
  border-radius: 30px;
}
a{
  color: black;
}
