body{
  background-color: rgb(43, 29, 71);
  content: '\f106';
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(218, 206, 192);
  margin: 30px;
  
}
.tituloForm{
  padding-left: 700px;
}
.formCadastro{
  color: rgb(218, 206, 192);
  display: grid;
  max-width: 50%;
  align-items: center;
  border: 5px white solid;
  padding: 10px;
  border-radius: 30px;

}
input{
  border-radius: 30px ;
  margin: 3px;
  background-color:transparent;
  border-color: rgb(218, 206, 192);
  color:rgb(218, 206, 192)
}
.botaoEnviar{
  color:rgb(43, 29, 71) ;
  background-color:rgb(218, 206, 192);

}
a{
  color: rgb(218, 206, 192);
}

h3 a{
  color: none;
  text-decoration: none;
  width: 50px;
 
}