<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastrar Novo Usuário</title>
</head>
<body>
  <section name="formulario">

  <form class="formCadastro" action="/cadastrar" method="post">
    <p name="tituloForm">Formulário ➡️ Novo Usuário</p>
    
    <input class="caixa" type="text" name="name" placeholder="Nome do usuário"/>
    
    <input class="caixa" type="password" name="senha" placeholder="senha de acesso"/>
    
    <input class="caixa" type="password" name="senhaConfirm" placeholder="confirme sua senha"/>
     
    <input type="submit" value="Cadastrar" class="botaoEnviar"/>
    
  </form>
  <h3><a href="./">← Voltar</a></h3>
  </section>
  
</body>
</html>