<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Listar Usuarios</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Usuários:</h1>
 
      <% criatura.forEach((usuario) => { %>
            ➡️<%= usuario.name %> <br/>
            <%= usuario.senha %><br/>
          
        <% }) %>
    <h2><a href="./cadastrar">Cadastrar novo Usuário </a></h2>
    <h3><a href="./">← Voltar</a></h3>
</body>
</html>